/* Main page layout */

body {
    font-size: 100%;
    padding-top: 1.5em; /* 24px */
    padding-bottom: 3em; /* 48px */
    background-color: #FFFFFF;
    color: #222;
    font-family: "Trebuchet MS", Helvetica, Arial, FreeSans;
    position: relative;
}

#main {
    margin: 0 auto;
    max-width: 700px;
}

.ribbon {
    border: 0;
}

.top_right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom_right {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Typography */

h1     { font-size: 3em;         /* 16 x 3.375 = 48 */
         line-height: 1.5em; }   /* 48 x 1.5   = 72 */
h2     { font-size: 1.5em;       /* 16 x 1.5   = 24 */
         line-height: 2em; }     /* 24 x 2     = 48 */
p      { font-size: 1em;         /* 16 x 1     = 16 */
         line-height: 1.5em;
         margin-bottom: 1.5em; }
code   { font-size: 1em;
         line-height: 1.5em;
         font-family: Consolas, FreeMono, monospace;
         margin-top: 0.5em; }
p code { line-height: 1em; }
pre    { padding: 1em 1em 0.9em 1em;
         margin: 0 0 1.9em; 0; }
a      { line-height: 1.5em }

h1, h2, h3 {
    color: #A10404;
}

h1 {
    text-shadow: #888 0 1px 1px;
    text-decoration: none;
}

h2 {
    text-shadow: #888 0 1px 1px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

/* Special */

.description  {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}

.download { float: right; }

pre {
    background: #ddd;
    color: #000;
    -webkit-border-radius: 5px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomright: 20px;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
}

#footer {
    color: #888;
    text-align: center;
    padding-top: 50px;
    font-style: italic;
}